@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Shared Style */
body{
    max-width: 1250px;
    margin: 0px auto;
}
.quicksand-normal{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.raleway-normal{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.text-center{
    text-align: center;
}
.banner-tittle{
    color: black;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 61px;
}
.tittle{
    color: rgba(0, 0, 0, 1);
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 57.5px;
}
.sub-tittle{
    color: rgba(32, 32, 32, 1);
    font-size: 1.53rem;
    font-weight: bold;
    line-height: 30.7px;
}
.btn-primary{
    color: #fff;
    padding: 15px 40px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
}
.btn-nav{
    background-color: rgba(254, 163, 1, 1);
    border-radius: 10px;
}
/* Start Main Style */

/* Style for Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo h3{
    color: #111;
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}
/* Nav-Menu */

.nav-menu ul{
    
}
.nav-menu ul li{
    display: inline-block;
}
.nav-menu ul li a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.25rem;
    font-weight: bold;
}
.nav-menu ul li:first-child a{
    color: rgba(254, 163, 1, 1);
}
.nav-menu ul li:nth-child(2) a{
    color: rgba(1, 172, 253, 1);
}
.nav-menu ul li:nth-child(3) a{
    color: rgba(5, 212, 223, 1);
}
.nav-menu ul li:nth-child(4) a{
    color: green;
}

/* Banner-Section */
.span-1{
    color: rgba(254, 163, 1, 1);
}
.span-2{
    color: rgba(1, 172, 253, 1);
}
.banner-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 550px;
}
.banner-btn{
    background-color: rgba(17, 17, 17, 1);
    border-radius: 10px;
}

/* Standard-Section */

.standard-section{
    padding: 60px 0px;
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
}
.standard-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 80px auto;
    height: 400px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 30px 60px;
    border-radius: 15px;
}
.card p{
    color: rgba(128, 128, 128, 1);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 28px;
}
.card-1{
    background: linear-gradient(to bottom right, rgba(100, 200, 255, 0.3) 10%, whitesmoke
    );
}
.card-2{
    background: linear-gradient(to bottom right, rgba(240, 170, 0, 0.3) 10%, whitesmoke
    );
}
.card-3{
    background: linear-gradient(to bottom right, rgba(135, 0, 255, 0.3) 10%, whitesmoke
    );
}
.btn-1{
    border: none;
    color: rgba(100, 200, 255, 1);
    background-color: transparent;
}
.btn-2{
    border: none;
    color: rgba(240, 170, 0, 1);
    background-color: transparent;
}
.btn-3{
    border: none;
    color: rgba(135, 0, 255, 1);
    background-color: transparent;
}

.angel-bracket{
    font-size: 24px;
    text-align: center;
}
.angel-icon{
    background-color: rgba(240, 170, 0, 1);
    padding: 15px 25px;
    border-radius: 50%;
    color: #fff;
}

/* our stories Section */

.our-stories-container{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 80px auto;
}
.item-1{
    grid-row: 1/3;
}
.item-4, .item-5{
    display: none;
}
.our-stories-container .container-item{
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
}
.container-item img{
    width: 100%;
}
.container-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 38px;
    margin-top: -45px;
}
.container-item .container-content p{
    color: rgba(128, 128, 128, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
}
.content-tittle{
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 28px;
}
.container-item .container-content div button{
    color: #fff;
    font-size: 0.9rem;
    border-radius: 30px;
    padding: 14px 20px;
    border: none;
}
.content-btn-1{
    background-color:rgba(60, 216, 232, 1);
}
.content-btn-2{
    background-color:rgba(149, 178, 38, 1);
}
.content-btn-3{
    background-color:rgba(93, 88, 240, 1);
}

