@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Shared Style */
.site-width{
    max-width: 1250px;
    margin: 0px auto;
}
.quicksand-normal{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.raleway-normal{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.text-center{
    text-align: center;
}
.banner-tittle{
    color: black;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 61px;
}
.tittle{
    color: rgba(0, 0, 0, 1);
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 57.5px;
}
.sub-tittle{
    color: rgba(32, 32, 32, 1);
    font-size: 1.53rem;
    font-weight: bold;
    line-height: 30.7px;
}

.btn-primary{
    color: #fff;
    padding: 15px 40px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
}
.btn-nav{
    background-color: rgba(254, 163, 1, 1);
    border-radius: 10px;
}
/* Start Main Style */

/* Style for Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo h3{
    color: #111;
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}
.responsive-navbar{
    display: none;
    font-size: 1.3rem;
    font-weight: bold;
}
/* Nav-Menu */

.nav-menu ul{
    
}
.nav-menu ul li{
    display: inline-block;
}
.nav-menu ul li a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.25rem;
    font-weight: bold;
}
.nav-menu ul li:first-child a{
    color: rgba(254, 163, 1, 1);
}
.nav-menu ul li:nth-child(2) a{
    color: rgba(1, 172, 253, 1);
}
.nav-menu ul li:nth-child(3) a{
    color: rgba(5, 212, 223, 1);
}
.nav-menu ul li:nth-child(4) a{
    color: green;
}

/* Banner-Section */
.span-1{
    color: rgba(254, 163, 1, 1);
}
.span-2{
    color: rgba(1, 172, 253, 1);
}
.banner-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 550px;
}
.banner-content p{
    line-height: 28px;
}
.banner-btn{
    background-color: rgba(17, 17, 17, 1);
    border-radius: 10px;
}

/* Standard-Section */

.standard-section{
    padding: 60px 0px;     
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
}
.standard-card{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    margin: 80px 0px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 30px 60px;
    border-radius: 15px;
}
.card p{
    color: rgba(128, 128, 128, 1);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 28px;
}
.card-1{
    background: linear-gradient(to bottom right, rgba(100, 200, 255, 0.3), whitesmoke
    );
}
.card-2{
    background: linear-gradient(to bottom right, rgba(240, 170, 0, 0.3), whitesmoke
    );
}
.card-3{
    background: linear-gradient(to bottom right, rgba(135, 0, 255, 0.3), whitesmoke
    );
}
.btn-1{
    border: none;
    color: rgba(100, 200, 255, 1);
    background-color: transparent;
}
.btn-2{
    border: none;
    color: rgba(240, 170, 0, 1);
    background-color: transparent;
}
.btn-3{
    border: none;
    color: rgba(135, 0, 255, 1);
    background-color: transparent;
}

.angel-bracket{
    font-size: 24px;
    text-align: center;
}
.angel-icon{
    background-color: rgba(240, 170, 0, 1);
    padding: 15px 25px;
    border-radius: 50%;
    color: #fff;
}

/* our stories Section */


main{
    padding: 50px 0px;
    background-image: url(./assets/bg.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
main::before{
    content: "" ;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(240, 170, 0, 0.2) 10%, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.our-stories-container{
   display: grid;
   grid-template-columns: 40% 28% 28% ;
   grid-template-rows: repeat(2, 1fr);
   justify-content: space-between; 
   margin-top: 80px;
   margin-bottom: 50px;
}
.item-1{
    grid-row: 1/3;
}
.item-4, .item-5{
    display: none;
}
.our-stories-container .container-item{
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 24px;
}
.container-item img{
    width: 100%;
    height: auto;
}

.container-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 38px;
    margin-top: -45px;
}
.container-item .container-content p{
    color: rgba(128, 128, 128, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
}
.content-tittle{
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 28px;
}
.container-item .container-content div button{
    color: #fff;
    font-size: 0.9rem;
    border-radius: 30px;
    padding: 14px 20px;
    border: none;
}
.content-btn-1{
    background-color:rgba(60, 216, 232, 1);
}
.content-btn-2{
    background-color:rgba(149, 178, 38, 1);
}
.content-btn-3{
    background-color:rgba(93, 88, 240, 1);
}
.our-stories .btn-div button{
    background-color: rgba(17, 17, 17, 1);
    border-radius: 10px;
    z-index: 1;
}

/* Footer-section */
footer{
    background-color: rgba(1, 172, 253, 1);
}
.footer-logo img{
   height: 80px;
   width: 80px;
}

.footer-section{
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-logo .div-1{
    display: flex;
}
.footer-logo .div-2{
    width: 400px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 28px;
}
.footer-logo h3{
    margin-left: 10px;
    font-size: 2.5rem;
    line-height: 40px;
    color: #fff;
}
.footer-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-menu h4{
    color: #fff;
}
.footer-menu ul li{
    list-style: none;
    line-height: 40px;
}
.footer-menu ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}
.footer-icons{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-icons h4{
    color: #fff;
}


.hide{
    display: none;
}
@media screen and (max-width: 768px) {
    
    nav{
        padding: 10px 15px;
        border-bottom: 1px solid rgba(254, 163, 1, 1);
    }
    .responsive-navbar{
        display: block;
    }
    .nav-logo h3, .nav-menu, .nav-btn{
        display: none;
    }

    /* Banner Responsive */
    .banner-tittle{
        font-size: 2.5rem;
        line-height: 55px;
    }
    .banner-content p {
        line-height: 22px;
    }
    .btn-primary{
        padding: 15px 30px;
        font-size: 1.1rem;
    }
    .banner-section{
        flex-direction: column-reverse;
        gap: 25px;
        text-align: center;
        padding: 10px 15px;
    }
    .banner-section img{
        max-width: 100%;
        height: auto;
    }

    /* Standard Section */

    .tittle{
        font-size: 1.8rem;
    }
    .sub-tittle{
        font-size: 1.4rem;
    }
    .standard-section{
        padding: 10px 15px;
    }
    .standard-card{
        grid-template-columns: 1fr;
        gap: 24px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .card p{
        font-size: 0.85rem;
    }
    .angel-bracket{
        display: none;
    }
    
    /* our stories responsive part */
    .our-stories{
        padding: 10px 15px;
    }
    .our-stories-container{
        grid-template-columns: 48% 48%;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .item-1{
        display: none;
    }
    .item-4, .item-5{
        display: block;
    }
    .container-item .container-content div button {
        font-size: 0.65rem;
    }
    .container-content div button{
        text-align: center;
    }
    .content-tittle{
        font-size: 0.9rem;
        line-height: 20px;
    }

    /* footer-part */

    .footer-section{
        flex-direction: column;
        gap: 30px;
        padding: 60px 15px;
    }
    .footer-logo .div-2{
        width: 100%;
        font-size: 0.9rem;
        line-height: 23px;
    }
    .footer-logo{
        gap: 15px;
    }
    .footer-logo h3{
        font-size: 2.2rem;
    }
    .footer-menu ul li{
        line-height: 35px;
    }
    .footer-menu ul li a{
        font-size: 1rem; 
    }
}

@media screen and (min-width: 300px) {
    .banner-tittle{
        font-size: 1.9rem;
        line-height: 50px;
    }
    .container-content{
        padding: 10px 10px;
        text-align: center;
        margin-top: -35px;
    }
    .container-content h4{
        font-size: 1rem;
    }
}

